@import "tailwindcss";


/* scale font-size (rem) automatically after width >= x */
@media screen and (width >= 1280px) {
  :root {
    font-size: clamp(10px, 0.5rem + 1vw, 1000px);
  }
}

@media screen and (width < 1024px) and (width >= 768px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (width < 768px) and (width >= 410px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (width < 410px){
  :root {
    font-size: 10px;
  }
}


@font-face {
  font-family: inter;
  src: url("/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-variation-settings: "wght" 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Color variables */
  --color-main-black: #09090B;
  --color-main-white: #FAFAFA;
  --color-secondary-black: #27272A;
  --color-secondary-white: #E4E4E7;

  /* Font variables */
  --font-inter: inter;

  /* Breakpoints */
  --breakpoint-c-s: 25.625rem;
  --breakpoint-c-xs: 20.3125rem;
}