@import "tailwindcss";



@media screen and (width < 1024px) and (width >= 768px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (width < 768px) and (width >= 410px) {
  :root {
    font-size: 12px;
  }
}

@font-face {
  font-family: inter;
  src: url(./assets/fonts/Inter.zip);
}

@theme {
  --color-main-black: #09090B;
  --color-main-white: #FAFAFA;
  --color-secondary-black: #27272A;
  --color-secondary-white: #E4E4E7;
  --font-inter: inter;
}